html, body, #app {
  overflow-x: hidden;
}

.line-clamp {
  display: -webkit-box; 
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical; 
  text-overflow: ellipsis; 
  overflow: hidden
}